[Unit]
Description=Emitter node
After=network.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=no
RestartSec=2
User=root
ExecStart={{ emitter_deploy_path }}/emitter -s {{ emitter_deploy_path }} -c https://testnet.ckb.dev

[Install]
WantedBy=multi-user.target