version: '2'

services:
  scripts:
    container_name: scripts
    image: node
    hostname: scripts
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ devops_path }}:/devops
      - {{ chain_dir }}:/chain
      - {{ devops_path }}/devops/ansible/scripts:/app
    networks:
      chaos:
        aliases:
          - scripts
        ipv4_address: 174.20.0.100
    command: |
      sh -c '
      cd /app;
      cp bin/pumba_linux_amd64 /usr/local/bin/pumba;
      chmod +x /usr/local/bin/pumba;
      npm install && npm start;
      '

{% for keypair in keypairs[:chain_node_num] %}
  bft_node{{ keypair.index }}:
    container_name: bft_node{{ keypair.index }}
    image: nervos/muta:dev
    hostname: bft_node{{ keypair.index }}
    environment:
      - RUST_LOG
      - RUST_BACKTRACE
    volumes:
      - {{ muta_path }}:/app
      - ./configs/{{ keypair.index }}.toml:/app/devtools/chain/config.toml
      - {{ chain_dir }}/data/{{ keypair.index }}:/data
      - {{ chain_dir }}/logs/{{ keypair.index }}:/logs
      - {{ muta_path }}/target/release/muta-chain-{{ muta_version }}:/app/muta-chain
    networks:
      chaos:
        aliases:
          - bft_node{{ keypair.index }}
        ipv4_address: {{ keypair.ip_address }}
    command: |
      sh -c '
      cd /app;
      ./muta-chain;'
{% endfor %}

networks:
  chaos:
    ipam:
     config:
       - subnet: {{ subnet }}